SECRET_KEY=
DEBUG=True

DB_USER=postgres
DB_PASS=postgres
NEOMARKET_DB_NAME=neomarket
SELLER_DB_NAME=seller_cabinet
BUYER_DB_NAME=buyer_cabinet

MOD_URL=http://moderation:8002
B2C_URL=http://buyer-cabinet:8003
B2B_URL=http://seller-cabinet:8001
B2B_TO_MOD_KEY=dev-b2b-to-mod-key
B2B_TO_B2C_KEY=dev-b2b-to-b2c-key
SERVICE_API_KEY=dev-service-api-key
