# Virtual environments
venv/
.venv/

# Python bytecode
__pycache__/
*.py[cod]

# Django / local DB
*.sqlite3

# Environment variables
.env

# Media / static
media/
staticfiles/

# Logs
*.log

# OS files
Thumbs.db
Desktop.ini
